body {
	background-color: #252b37;
	color: #edd;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 100%;

	background-image: url("/assets/images/background.jpg");
	background-repeat: repeat;
	background-size: 50% auto;
	background-position: top;

	padding: 1em;
	margin: 0;
	margin-bottom: 2em;
}

body>* {
	max-width: min(calc(100% - 35em), 50em);
}

nav {
	position: fixed;
	right: 0em;
	max-width: 20em;
	min-width: 20em;
	max-height: min(50em, calc(100% - 8em));
	overflow-y: scroll;
}

.area {
	border: 2px solid #d99;
	border-radius: 5px;
	background-color: #1118;
	backdrop-filter: blur(6px);


	padding: 1.5em;

	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 4em;
	margin-right: 4em;
}


.box {
	border: 2px solid #988;
	border-radius: 4px;
	background-color: #222a;
	padding: 1em;

	margin-top: 1em;
	margin-bottom: 1em;
}

.card {
	border: 1px dashed #577;
	border-radius: 2px;
	/*background-color: #222;*/
	padding: 0.5em;
	margin-top: 0.5em;
}


@media (max-width: 60em) {
	body>* {
		width: auto;
		max-width: 100%;
	}

	nav {
		position: static;
		max-width: 100%;
		max-height: 10em;
	}
}

@media (max-width: 45em) {
	body {
		padding: 0;
	}

	.area {
		margin-left: 2em;
		margin-right: 2em;
		padding: 0.5em;
	}
}


pre code {
	margin: 0.25em;
	padding: 1em;
	border: #759 solid 1px;
	border-radius: 2px;

	width: 70%;

	tab-size: 4;
	display: block;

	font-family: monospace;
	word-break: break-all;
}

code {
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: #759 solid 1px;
	border-radius: 2px;
}

a {
	color: #bde;
}

a:hover {
	color: #ede;
}

h1 {
	color: #bed;
}

h2 {
	color: #bed;
}

h3 {
	color: #bed;
}

h4 {
	color: #bed;
}

blockquote {
	margin: 0.25em;
	padding-left: 2em;
	border: #aec solid 1px;
	border-radius: 2px;

	width: 70%;
}

blockquote p:before {
	content: "> ";
}

input {
	color: #634;
}

hr {
	width: 40%;
	border-top: 1px;
	margin-left: 2em;
}